<%= render layout:"shared/page" do %>
  <h1>Instructors</h1>
  <ul class="no-bullet">
    <%= render @instructors %>
  </ul>

  <% if @studio == current_studio %>
    <hr>
    <%= link_to "Add Instructor", new_studio_instructor_path(@studio) %>
  <% end %>

<% end %>
