<div class="background-holder">
  <h1>Introducing FitAura</h1>
  <h3>FitAura is an innovative new platform which allows you to find the best fitness instructors or studios in your areas</h3>
</div>
<div class="row">
  <div class="small-12 medium-12 columns">
    <H2>Who is it for?</H2>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 columns">
    <H3>Fitness Enthusiastes</H3>
    <p>
      Discover workout that's right for you. We provide you with access to a variety of studios and trainers with no strings attached. Find and keep the ones you like or add variety to your normal routine.
    </p>
    <%= link_to "Sign Up", new_user_registration_path, class:"small radius button" %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 columns">
    <H3>Fitness Studios</H3>
    <p>
      We help you fill your empty classes with potential new members, and help you gain more exposure through our platform and events. Helping you increase your revenue on a daily basis.
    </p>
    <%= link_to "Sign Up", new_user_registration_path, class:"small radius button" %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 columns">
    <H3>Personal Trainers</H3>
    <p>
      For all fitness professionals/trainers, we provide a cost-effective marketing and distribution platform that enables you to find new clients by utilising classes and events, scheduling appointments via our matching engine and managing your sessions, locations, prices, auto-follow up and more.
    </p>
    <%= link_to "Sign Up", new_user_registration_path, class:"small radius button" %>
  </div>
</div>
