<%= render layout:"shared/panel" do %>
  <h1><%= @studio.studio_name %></h1>
  <H3>Current Classes</H3>
  <ul class="no-bullet">
    <%= render @studio_classes %>
  </ul>

  <% if current_studio == @studio %>
    <%= link_to "Add Class", new_studio_class_path, class:"tiny radius button" %>
  <% end %>
<% end %>
