<%= render layout:"shared/page" do %>
  <h2>Manage training locations</h2>
  <%= render @locations %>
  <%= link_to "Add a location", new_trainer_location_path(current_trainer), class: "small radius button" %>
<% end %>

